body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    color: #000;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 14pt;
}

.fundo {
    color: black;
    background-color: rgb(255, 255, 255);
    padding-bottom: 0px;
    padding: 10px;
    max-width: 992px;
    margin: auto;
}

.personal-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

@media (max-width: 650px) {
    .personal-information {
        flex-direction: column-reverse;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
}

.wrapper>p {
    margin: 0;
}
